<body class="inset-0">
  <div
    class="absolute border-none m-2 opacity-15 border-r-8 bg-white bg-gradient-to-tl from-white via-custom-circle-color-two to-custom-circle-color-one to-90% backdrop-blur-lg -z-30 flex -top-6 -left-14 h-[196px] w-[392px]]"
  >
    <div
      class="w-[196px] h-[196px] relative top-[18%] left-[16%] bg-white backdrop-blur-md rounded-sm"
    ></div>

    <div
      class="w-[196px] h-[196px] relative top-[18%] backdrop-blur-md bg-white rounded-md"
    ></div>
  </div>

  <div class="border z-10 border-gray-200 h-screen rounded-lg p-4 m-4">
    <div class="flex justify-around mt-10">
      <img class="h-auto" src="assets/images/Astronaut.svg" alt="uomo" />
    </div>
    <div class="grid-flow-row">
      <span>
        <h1
          class="font-inter text-custom-title-color font-bold text-center text-3xl"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </h1>
      </span>
      <p class="text-center font-normal mt-6 text-gray-400">
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat
      </p>
    </div>
    <div class="flex justify-around mt-16 relative items-center mx-auto">
      <div
        class="absolute top-[11rem] rounded-lg shadow-md w-[25rem] h-[10rem] bg-white border border-gray-300"
      ></div>
      <div
        class="absolute top-[10.25rem] rounded-lg shadow-lg w-[27rem] h-[10rem] items-center bg-white border border-gray-300"
      ></div>
      <div
        class="max-w-lg p-6 col-span-2 absolute top-0 shadow-2xl items-center mb-4 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700"
      >
        <h5 class="font-inter text-lg font-medium text-custom-primary">
          Amount Due
        </h5>
        <div class="flex justify-around mt-2">
          <p class="font-inter font-normal mt-1 text-custom-secondary">
            Invoices are issued between the 1st and 5th of each month and are
            due 30 days later.
          </p>
          <i data-feather="more-vertical"></i>
        </div>
        <div class="flex justify-between items-center mt-6">
          <span class="text-xl font-bold text-custom-primary">$26,667.73</span>
          <button
            type="button"
            class="text-white bg-custom-tertiary hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3.5 w-28 h-8 py-2.5 flex justify-around items-center dark:bg-custom-tertiary dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          >
            Pay now
          </button>
        </div>
        <div class="w-full border border-solid mt-4 border-gray-100"></div>

        <div class="flex mt-3">
          <h4 class="font-normal">Account Spending Limit:</h4>
          <span class="font-bold ml-1">$26,667.73</span>
        </div>

        <div
          class="w-full rounded-md h-4 relative mt-2 bg-custom-pink-transparent"
        >
          <div
            class="w-1/2 h-full border border-solid rounded-md bg-custom-pink"
          ></div>
        </div>

        <div class="flex items-center mt-2">
          <div class="h-2 w-2 rounded-full bg-custom-pink"></div>
          <div class="ml-4">
            <span class="font-inter text-sm font-medium text-custom-secondary"
              >$26,667.73 spent /</span
            >
            <a
              href="#"
              class="inline-flex text-sm font-medium items-center ml-1 text-custom-tertiary"
            >
              $27,810.00 available
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--   <div
    class="absolute opacity-15 border-none m-2  border-r-8 bg-white bg-gradient-to-br from-white from-30% via-custom-circle-color-one via-60% to-custom-circle-color-two to-80% backdrop-blur-xl  z-10 flex -bottom-10 h-[250px] w-[392px]] -right-10"
    
  >
  <div
  class="w-[196px] h-[196px]  backdrop-blur-xl rounded-sm transition-opacity duration-300 hover:opacity-0 "
></div>

<div
  class="w-[196px] h-[196px] backdrop-blur-xl rounded-md transition-opacity duration-300 hover:opacity-0"
></div>
  </div> -->
</body>
