<body class="font-inter font-feature-default antialiased">
    <div class="mt-1 grid gap-4 h-screen lg:grid-cols-2 md:grid-cols-1">
        <app-login-side-menu></app-login-side-menu>
        <div class="pt-16">
            <div class="flex flex-col items-center justify-around">
                <div class="grid justify-items-center">
                  <img class="h-auto" src="assets/images/wenlo.png" alt="uomo" />
                  <span class="pt-4 text-sm"> Welcome to Wenlo 👋 </span>
                </div>
        
                <div class="grid-flow-row mt-8">
                  <h1
                    class="font-inter font-bold text-center text-3xl text-custom-title-color"
                  >
                    Activate your account
                  </h1>
                  <p class="mt-3 text-center font-normal text-gray-400">
                    Enter the activation code present in your mail
                  </p>
                </div>
            </div>
            <div class="mt-10 grid m-8 grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-6">
                  <label for="confirm-password" class="block text-sm/6 font-medium"
                    >Enter the activation code</label
                  >
                  <div class="mt-2">
                    <input
                      type="text"
                      placeholder="334b86"
                      name="confirm-password"
                      id="confirm-password"
                      autocomplete="confirmation-passord"
                      class="block w-full rounded-md bg-white px-3 py-1.5 text-base outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
                    />
                  </div>
                </div>
            </div>

            <div class="flex mt-10 justify-around">
                <button
                  (click)="activateAccount()"
                  type="button"
                  class="text-white bg-custom-tertiary hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3.5 w-[200px] h-8 py-2.5 flex justify-around items-center dark:bg-custom-tertiary dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                >
                  Submit
                </button>
            </div>

            <div class="flex mt-10 justify-around">
                <div class="text-sm text-custom-text">
                    Didn’t receive a mail, 
                  <a routerLink="/**" class="text-sm text-custom-tertiary"
                    >click here</a
                  >
                  and check your mailbox again.
                </div>
            </div>

      </div>

    </div>
</body>