<div>
  <div class="mx-2">
    <label for="addd" class="block text-sm/6 font-medium"
      >Netword/Platform<span class="text-red-500">*</span></label
    >
    <div class="flex justify-between items-center border mt-4 p-2 mx-2">
      <div class="flex items-center">
        <span class="mx-2">
          <i
            class="pi pi-facebook text-custom-tertiary"
            style="font-size: 2rem"
          ></i>
        </span>
        <p class="text-custom-primary mx-2 text-theme-sm dark:text-gray-400">
          Facebook
        </p>
      </div>
    </div>
    <div class="mt-4">
      <h2 class="font-bold text-lg text-custom-primary">
        Save your existing Meta Business Manager details
      </h2>
    </div>
    <div class="mt-4">
      <div class="sm:col-span-3">
        <label for="addd" class="block text-sm/6 font-medium"
          >Business Manager Name<span class="text-red-500">*</span></label
        >
        <div class="mt-2">
          <input
            type="text"
            placeholder="Enter business manager's name"
            name="name"
            id="name"
            autocomplete="name"
            class="block w-full rounded-md text-custom-primary bg-white px-3 py-1.5 text-base border border-gray-300 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-custom-primary focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
          />
        </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="sm:col-span-3">
        <label for="addd" class="block text-sm/6 font-medium"
          >Business Manager ID<span class="text-red-500">*</span></label
        >
        <div class="mt-2">
          <input
            type="text"
            placeholder="Enter business manager's ID"
            name="manager_ID"
            id="manager_ID"
            autocomplete="manager_ID"
            class="block w-full rounded-md text-custom-primary bg-white px-3 py-1.5 text-base border border-gray-300 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-custom-primary focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
          />
        </div>
      </div>
    </div>
  </div>
</div>
